<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<h2>My portfolio</h2>
<br>
<h4>Search for stocks</h4>

<div id="stock-lookup">
  <!-- the below "remote: true" statement is essentially
        evoking ajax. After adding this, need to add JS
        partial (_result.js.erb) to display the result.
        Also need to update (add respond_to) search method
        in stocks controller.
  -->
  <%= form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol",
                          autofocus: "true", class: "form-control search-box input-lg" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <!-- <i class="material-icons">search</i>Look up a stock -->
        <span class="glyphicon glyphicon-search"></span> Look up a stock
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="results">
  <%= render 'result' %>
</div>

<%= render 'stocks/list' %>
